---
import ProjectHeadline from '@components/text/ProjectHeadline.astro'
import { proseBase } from '@layouts/baseStyles'
import type { LayoutLanguage } from '@layouts/languages'
import LayoutArticle from '@layouts/LayoutArticle.astro'
import { getCollection, render } from 'astro:content'
import { mdxComponentsAstro } from 'cms/components/mdxComponentsAstro.astro'
import { twJoin } from 'tailwind-merge'

const pagesCollection = await getCollection(
  'pages',
  (page) => page.data.identifier === 'mapillary_home',
)
const pageEntry = pagesCollection[0]

if (!pageEntry) {
  throw new Error('Page with identifier "mapillary_home" not found')
}

const { Content } = await render(pageEntry)
---

<LayoutArticle
  title={pageEntry.data.title}
  description={pageEntry.data.description}
  noindex={pageEntry.data.noindex}
  language={pageEntry.data.language as LayoutLanguage}
  image={pageEntry.data.socialSharingImage}
  imageAlt={pageEntry.data.imageAlt}
>
  <div>
    <ProjectHeadline title={pageEntry.data.pageTitle} subtitle={pageEntry.data.pageSubtitle} />
    <article
      class={twJoin(proseBase, 'last:prose-p:mb-0 max-w-prose')}
      lang={pageEntry.data.language}
    >
      <Content components={mdxComponentsAstro} />
    </article>
  </div>
</LayoutArticle>
