---
import type { NavigationProjects } from 'src/projectConfigs.const'
import { twJoin } from 'tailwind-merge'
import { NavigationMobile } from './NavigationMobile.tsx'
import ProjectToHeader from './ProjectToHeader.astro'
import ProjectToMenu from './ProjectToMenu.astro'

export interface Props {
  /** @desc switches the navigation to scroll in itself ("app") vs. with the "article" */
  layoutType: 'article' | 'app'
  project: NavigationProjects
  menuHighlight?: string | undefined
}

const { layoutType, project, menuHighlight } = Astro.props
---

<nav
  data-navigation-project={project}
  class={twJoin(
    layoutType === 'app' ? 'bg-white' : 'mb-10 lg:mb-0',
    'flex lg:block justify-between lg:relative z-[1001] w-full px-3 py-3 shadow-xl lg:z-auto lg:w-64 lg:py-6 lg:shadow-none flex-none',
    'group/navi',
  )}
  lang="de"
>
  <ProjectToHeader project={project} />

  <NavigationMobile client:load>
    <ProjectToMenu project={project} menuHighlight={menuHighlight} />
  </NavigationMobile>

  <div class="z-[2000] hidden transition-all duration-150 lg:block">
    <ProjectToMenu project={project} menuHighlight={menuHighlight} />
  </div>
</nav>
