---
// TODO: Replace the wrapper for <MenuItem> with <MenuItemWrapper> which does not work ATM.
// import MenuItemWrapper from './MenuItem/MenuItemWrapper.astro'
import { projectKeyFromUrl } from '@layouts/utils/projectKeyFromUrl'
import type { TProjectConfig } from 'keystatic/projectsAstro'
import MenuItem from './MenuItem/MenuItem.astro'
import MenuItemHeadline from './MenuItem/MenuItemHeadline.astro'
import NavigationFooter from './NavigationFooter.astro'
import NavigationPosts from './NavigationPosts.astro'
import PageAboutMenu from './page_about/PageAboutMenu.astro'

interface Props {
  project: TProjectConfig
}

const isDev = import.meta.env.DEV
const { project } = Astro.props
---

{project.name.slug === 'root' && <PageAboutMenu />}

{
  project.menus?.map((menu) => {
    return (
      <Fragment>
        {typeof menu.label === 'string' && <MenuItemHeadline>{menu.label}</MenuItemHeadline>}

        <div class="mt-5 mb-7 flex flex-col overflow-hidden rounded-sm border border-b-0 border-gray-200 sm:mt-0">
          {menu.items.map(({ href, label }) => {
            return (
              <MenuItem href={href} highlightExactMatch={true}>
                {label}
              </MenuItem>
            )
          })}
        </div>
      </Fragment>
    )
  })
}

{project.menuNews && <NavigationPosts project={project} />}

{
  !project.menus && isDev && (
    <p class="text-red-500">
      `project` `{projectKeyFromUrl(Astro.request.url)}` für Navigation nicht erkannt.
    </p>
  )
}

<NavigationFooter additionalLinks={project.additionalFooterLinks} />
