---
import SvgArrowSmall from '@assets/icons/ArrowSmall.svg'
import Map from 'astro-heroicons/outline/Map.astro'
import RectangleStack from 'astro-heroicons/solid/RectangleStack.astro'
import MapRouletteLogo from './assets/MapRouletteLogo.svg'

type Props = {
  href: string
  iconKey: 'map' | 'stack' | 'maproulette'
  label: string
  subline?: string | undefined
}

const { href, iconKey, label, subline } = Astro.props
---

<div class="not-prose mt-14">
  <a
    href={href}
    target="_blank"
    rel="noopener noreferrer"
    class="group flex flex-row items-center gap-4 rounded bg-gradient-to-br from-teal-500 to-emerald-400 p-10 text-center shadow-md transition-all hover:from-teal-500 hover:to-emerald-300 hover:shadow-xl"
  >
    {
      (() => {
        switch (iconKey) {
          case 'map':
            return <Map class="size-20" />
          case 'stack':
            return <RectangleStack class="size-20" />
          case 'maproulette':
            return <img src={MapRouletteLogo.src} class="size-16" alt="" />
        }
      })()
    }
    <div>
      <h2
        class="mb-0 flex items-center text-3xl font-bold text-gray-900 decoration-1 underline-offset-4 group-hover:underline"
      >
        {label}
        <img src={SvgArrowSmall.src} class="h-8 w-8" alt="" />
      </h2>
      {subline && <p class="mb-1 text-gray-800 no-underline">{subline}</p>}
    </div>
  </a>
</div>
